In [6]:
import pandas as pd

BASE = "https://raw.githubusercontent.com/LaloMontealvo/project2-eda/main/data/raw/"

demo  = pd.read_csv(BASE + "df_final_demo.csv")
web1  = pd.read_csv(BASE + "df_final_web_data_pt_1.csv")
web2  = pd.read_csv(BASE + "df_final_web_data_pt_2.csv")
exper = pd.read_csv(BASE + "df_final_experiment_clients.csv")

print("demo:", demo.shape)
print("web1:", web1.shape)
print("web2:", web2.shape)
print("exper:", exper.shape)

demo: (70609, 9)
web1: (343141, 5)
web2: (412264, 5)
exper: (70609, 2)

In [7]:
from IPython.display import display

def profile(df, name):
    print(f"\n=== {name} ===")
    display(df.head(3))
    summary = (
        df.dtypes.to_frame('dtype')
          .assign(
              non_null=lambda _: df.notna().sum(),
              nulls=lambda _: df.isna().sum(),
              null_pct=lambda _: (df.isna().mean()*100).round(2),
              n_unique=lambda _: df.nunique(dropna=True)
          )
    )
    display(summary)

for name, df in [('demo', demo), ('web1', web1), ('web2', web2), ('exper', exper)]:
    profile(df, name)

=== demo ===

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0

                    dtype  non_null  nulls  null_pct  n_unique
client_id           int64     70609      0      0.00     70609
clnt_tenure_yr    float64     70595     14      0.02        54
clnt_tenure_mnth  float64     70595     14      0.02       482
clnt_age          float64     70594     15      0.02       165
gendr              object     70595     14      0.02         4
num_accts         float64     70595     14      0.02         8
bal               float64     70595     14      0.02     70328
calls_6_mnth      float64     70595     14      0.02         8
logons_6_mnth     float64     70595     14      0.02         9

=== web1 ===

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22

               dtype  non_null  nulls  null_pct  n_unique
client_id      int64    343141      0       0.0     58391
visitor_id    object    343141      0       0.0     62936
visit_id      object    343141      0       0.0     75256
process_step  object    343141      0       0.0         5
date_time     object    343141      0       0.0    282666

=== web2 ===

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48

               dtype  non_null  nulls  null_pct  n_unique
client_id      int64    412264      0       0.0     67430
visitor_id    object    412264      0       0.0     71042
visit_id      object    412264      0       0.0     82841
process_step  object    412264      0       0.0         5
date_time     object    412264      0       0.0    346697

=== exper ===

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control

            dtype  non_null  nulls  null_pct  n_unique
client_id   int64     70609      0      0.00     70609
Variation  object     50500  20109     28.48         2